<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    body {
      background-color: #755ba4;
      color: #47ff00;
    }
  </style>
  <title>student_Details</title>
</head>
<body>
    <h2>Example 9.1</h2>
  <ul>
    {% for name in names %}
    <li>{{name}}</li>
    {% endfor %}
  </ul>

  <h2>Example 9.2</h2>
  <ul>
    {% for name in names reversed %}
    <li>{{name}}</li>
    {% endfor %}
  </ul>

  <h2>Example 9.3</h2>
  <ul>
    {% for name in names %}
    <li>{{name}}</li>
    {% empty %}
    <h2>no names in this</h2>
    {% endfor %}
  </ul>

  <h2>Example 9.4</h2>
  {% for name in names %}
  {{forloop.counter}} {{name}}<br>
  {% endfor %}
  </ul>
</body>
</html>