<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    body {
      background-color: #755ba4;
      color: #47ff00;
    }
  </style>
  <title>student_Details</title>
</head>
<body>
    <h2>Example 10</h2>
    <h3>{{student}}</h3>
    <h3>{{student.stu1}}</h3>
    <h3>{{student.stu2}}</h3>
    <h3>{{student.stu3}}</h3>
    <h3>{{student.stu4}}</h3>
    <h3>{{student.stu1.name}}</h3>
    <h3>{{student.stu1.roll}}</h3>
    <h3>{{student.stu2.name}}</h3>
    <h3>{{student.stu2.roll}}</h3>
    <h3>{{student.stu3.name}}</h3>
    <h3>{{student.stu3.roll}}</h3>
    <h3>{{student.stu4.name}}</h3>
    <h3>{{student.stu4.roll}}</h3>
</body>
</html>