<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    body {
      background-color: #755ba4;
      color: #47ff00;
    }
    table, th, td {
  border:1px solid black;
}
  </style>
  <title>student_Details</title>

</head>
<body>
<h1>float format method</h1>
    <table style="width:100%">
   <tr>
       <th>Example 5.1</th>
       <th>Example 5.2</th>
       <th>Example 5.3</th>
       <th>Example 5.4</th>
       <th>Example 5.5</th>
   </tr>
   <tr>
       <td>{{f1}}</td>
       <td>{{f1|floatformat}}</td>
       <td>{{f1|floatformat:3}}</td>
       <td>{{f1|floatformat:0}}</td>
       <td>{{f1|floatformat:-3}}</td>
   </tr>
   <tr>
       <td>{{f2}}</td>
       <td>{{f2|floatformat}}</td>
       <td>{{f2|floatformat:3}}</td>
       <td>{{f2|floatformat:0}}</td>
       <td>{{f2|floatformat:-3}}</td>
   </tr>
   <tr>
       <td>{{f3}}</td>
       <td>{{f3|floatformat}}</td>
       <td>{{f3|floatformat:3}}</td>
       <td>{{f3|floatformat:0}}</td>
       <td>{{f3|floatformat:-3}}</td>

    </table>

</body>
</html>