<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    body {
      background-color: #755ba4;
      color: #47ff00;
    }
  </style>
  <title>student_Details</title>
</head>
<body>
<center>
    <h2>Example 8.1</h2>
    {% if nm and st %}
    <h3>{{st}} seats are available for {{nm}} course</h3>
    {% endif %}

    <h2>Example 8.2</h2>
    {% if nm or st %}
    <h3>{{st}} seats are available for {{nm}} course</h3>
    {% endif %}

    {% if nm or st1 %}
    <h3>{{st1}} seats are available for {{nm}} course</h3>
    {% endif %}

    <h2>Example 8.3</h2>
    {% if not st %}
    <h3>seats not available</h3>
    {% endif %}

    <h2>Example 8.4</h2>
    {% if nm == 'Electronic and communication Engg' %}
    <h3> seats are {{st}}</h3>
    {% endif %}

    <h2>Example 8.5</h2>
    {% if nm == 'Electronic and communication Engg' and st == 10 %}
    <h3>{{st}} seats are available for {{nm}} course</h3>
    {% endif %}

    <h2>Example 8.6</h2>
    {% if nm == 'Electronic and communication Engg' or st == 0 %}
    <h3>{{st}} seats are available for {{nm}} course</h3>
    {% endif %}

    <h2>Example 8.7</h2>
    {% if not st == 5 %}
    <h3>seats are available</h3>
    {% endif %}

    <h2>Example 8.8</h2>
    {% if nm|length >= 4 %}
    <h3>hii hello {{nm}}</h3>
    {% endif %}

    <h2>Example 8.9.1</h2>
    {% if nm %}
    <h3>hii all {{nm}}</h3>
    {% else %}
    <h3>No Course Available</h3>
    {% endif %}

    <h2>Example 8.9.2</h2>
    {% if nm == 'ptyhon' %}
    <h3>Hello {{nm}}</h3>
    {% else %}
    <h3>No Course Available</h3>
    {% endif %}

    <h2>Example 8.9.3</h2>
    {% if nm %}
    <h3>HII.. {{nm}}</h3>
    {% elif st %}
    <h3>Seats {{st}}</h3>
    {% else %}
    <h3>No Course Available</h3>
    {% endif %}

    <h2>Example 8.9.4</h2>
    {% if nm == 'Java' %}
    <h3>Hello {{nm}}</h3>
    {% elif st == 5 %}
    <h3>Seats {{st}}</h3>
    {% else %}
    <h3>No Course Available</h3>
    {% endif %}
</center>
</body>
</html>